body {
  text-align: center;
  background: #566177;
  color: rgb(222, 228, 228);
}

.login input {
  background-color: rgb(218, 205, 205);
  display: block;
  margin: 5px auto;
  padding: 10px;
  border: 2px solid #1c77da;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.login input:focus {
  border-color: #e4391b;
  outline: none;
}

.login button {
  padding: 10px 20px;
  background-color: #1c77da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #047cfc;
}

.login button:active {
  background-color: #1c5592;
}


table {
  color: black;
  border-spacing: 1;
  border-collapse: collapse;
  background: #94afe6;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 8px;
  }

  thead tr {
    height: 60px;
    background: #2a6ae9;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #566177;
  }
}